# Data-X Fall 2018: Homework 06 

### Machine Learning

**Authors:** Sana Iqbal (Part 1, 2, 3)


In this homework, you will do some exercises with prediction.

In [1]:
import numpy as np
import pandas as pd

In [2]:
 # machine learning libraries
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
#import xgboost as xgb

/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

## Part 1



__ 1. Read __`diabetesdata.csv`__ file into a pandas dataframe. 
About the data: __

1. __TimesPregnant__: Number of times pregnant 
2. __glucoseLevel__: Plasma glucose concentration a 2 hours in an oral glucose tolerance test 
3. __BP__: Diastolic blood pressure (mm Hg)  
5. __insulin__: 2-Hour serum insulin (mu U/ml) 
6. __BMI__: Body mass index (weight in kg/(height in m)^2) 
7. __pedigree__: Diabetes pedigree function 
8. __Age__: Age (years) 
9. __IsDiabetic__: 0 if not diabetic or 1 if diabetic)

In [3]:
#Read data & print it
data = pd.read_csv('/Users/chelseayang/Downloads/diabetesdata.csv')
print(data)
data.columns

     TimesPregnant  glucoseLevel  BP  insulin   BMI  Pedigree   Age  \
0                6         148.0  72        0  33.6     0.627  50.0
1                1           NaN  66        0  26.6     0.351  31.0
2                8         183.0  64        0  23.3     0.672   NaN
3                1           NaN  66       94  28.1     0.167  21.0
4                0         137.0  40      168  43.1     2.288  33.0
5                5         116.0  74        0  25.6     0.201  30.0
6                3          78.0  50       88  31.0     0.248  26.0
7               10         115.0   0        0  35.3     0.134  29.0
8                2         197.0  70      543  30.5     0.158  53.0
9                8           NaN  96        0   0.0     0.232  54.0
10               4         110.0  92        0  37.6     0.191   NaN
11              10         168.0  74        0  38.0     0.537  34.0
12              10         139.0  80        0  27.1     1.441  57.0
13               1           NaN  60      846  30.1     0.398  59.0
14               5         166.0  72      175  25.8     0.587  51.0
15               7         100.0   0        0  30.0     0.484  32.0
16               0           NaN  84      230  45.8     0.551  31.0
17               7         107.0  74        0  29.6     0.254  31.0
18               1         103.0  30       83  43.3     0.183  33.0
19               1         115.0  70       96  34.6     0.529  32.0
20               3         126.0  88      235  39.3     0.704  27.0
21               8          99.0  84        0  35.4     0.388  50.0
22               7         196.0  90        0  39.8     0.451  41.0
23               9         119.0  80        0  29.0     0.263  29.0
24              11         143.0  94      146  36.6     0.254  51.0
25              10         125.0  70      115  31.1     0.205  41.0
26               7         147.0  76        0  39.4     0.257  43.0
27               1          97.0  66      140  23.2     0.487   NaN
28              13           NaN  82      110  22.2     0.245  57.0
29               5         117.0  92        0  34.1     0.337  38.0
..             ...           ...  ..      ...   ...       ...   ...
738              2          99.0  60      160  36.6     0.453   NaN
739              1         102.0  74        0  39.5     0.293  42.0
740             11         120.0  80      150  42.3     0.785  48.0
741              3         102.0  44       94  30.8     0.400  26.0
742              1         109.0  58      116  28.5     0.219  22.0
743              9         140.0  94        0  32.7     0.734  45.0
744             13         153.0  88      140  40.6     1.174  39.0
745             12         100.0  84      105  30.0     0.488  46.0
746              1         147.0  94        0  49.3     0.358  27.0
747              1          81.0  74       57  46.3     1.096  32.0
748              3         187.0  70      200  36.4     0.408  36.0
749              6         162.0  62        0  24.3     0.178  50.0
750              4         136.0  70        0  31.2     1.182  22.0
751              1         121.0  78       74  39.0     0.261  28.0
752              3         108.0  62        0  26.0     0.223  25.0
753              0         181.0  88      510  43.3     0.222  26.0
754              8         154.0  78        0  32.4     0.443  45.0
755              1         128.0  88      110  36.5     1.057  37.0
756              7         137.0  90        0  32.0     0.391  39.0
757              0         123.0  72        0  36.3     0.258  52.0
758              1         106.0  76        0  37.5     0.197  26.0
759              6         190.0  92        0  35.5     0.278  66.0
760              2          88.0  58       16  28.4     0.766  22.0
761              9         170.0  74        0  44.0     0.403  43.0
762              9          89.0  62        0  22.5     0.142  33.0
763             10         101.0  76      180  32.9     0.171  63.0
764              2         122.0  70        0  36.8     0.340  27.0
765              5         121.0  72      112  26.2     0.245  30.0
766              1         126.0  60        0  30.1     0.349  47.0
767              1          93.0  70        0  30.4     0.315  23.0

     IsDiabetic
0             1
1             0
2             1
3             0
4             1
5             0
6             1
7             0
8             1
9             1
10            0
11            1
12            0
13            1
14            1
15            1
16            1
17            1
18            0
19            1
20            0
21            0
22            1
23            1
24            1
25            1
26            1
27            0
28            0
29            0
..          ...
738           0
739           1
740           1
741           0
742           0
743           1
744           0
745           0
746           1
747           0
748           1
749           1
750           1
751           0
752           0
753           1
754           1
755           1
756           0
757           1
758           0
759           1
760           0
761           1
762           0
763           0
764           0
765           0
766           1
767           0

[768 rows x 8 columns]

Index(['TimesPregnant', 'glucoseLevel', 'BP', 'insulin', 'BMI', 'Pedigree',
       'Age', 'IsDiabetic'],
      dtype='object')

**2. Calculate the percentage of NaN values in each column.**

In [4]:
NullsPerColumn = pd.DataFrame(np.random.randint(low=0, high=1, size=(1, 8)),columns=['TimesPregnant', 'glucoseLevel', 'BP', 'insulin', 'BMI', 'Pedigree','Age', 'IsDiabetic'])


for i in range(0,7):
     perc=round(data.iloc[:,i].isnull().sum()/768,4)*100
     perc=str(perc)+str('%')
     NullsPerColumn.iloc[[0],i]=perc
        
    


print(NullsPerColumn)

  TimesPregnant glucoseLevel    BP insulin   BMI Pedigree   Age  IsDiabetic
0          0.0%        4.43%  0.0%    0.0%  0.0%     0.0%  4.3%           0

In [5]:
###RUN THIS CELL BUT DO NOT ALTER IT 
#assert all(NullsPerColumn.columns == ['Percentage Null'])
#assert NullsPerColumn['Percentage Null'][-2] ==  0.04296875

**3. Calculate the TOTAL percent of ROWS with NaN values in the dataframe (make sure values are floats).**

In [6]:
null_val=data.isnull().sum(axis=1)

count_row=0

for i in range(0,768):
    if null_val[i]>=1:
        count_row=count_row+1
    
percent_null=count_row/768*1.0

percentNull = round(percent_null,4)*100

PercentNull=str(percentNull)+str('%')

print(PercentNull)

8.33%

**4. Split __`data`__  into  __`train_df`__ and __`test_df`__  with 15% test split.**

In [7]:
#split values
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(data,test_size=0.15,random_state=15)

In [8]:
###RUN THIS CELL BUT DO NOT ALTER IT 
np.testing.assert_almost_equal(float(len(train_df))/float(len(data)), 0.8489583333333334, 1)
np.testing.assert_almost_equal(float(len(test_df))/float(len(data)), 0.15104166666666666, 1)

**5. Replace the Nan values in  __`train_df`__ and __`test_df`__  with the mean of EACH feature.**

In [9]:
guess_val_train = []
guess_val_test=[]

for i in range(0,8):
    guess_train_i=train_df.iloc[:,i].mean()
    guess_val_train.append(guess_train_i)
    

# replace he Nan values in  train_df with the mean of EACH feature
for i in range(0,8):
    train_df.iloc[:,i]=train_df.iloc[:,i].fillna(guess_val_train[i])
        
# Replace the nan values in test_df
for i in range(0,8):
    guess_test_i=test_df.iloc[:,i].mean()
    guess_val_test.append(guess_test_i)


# replace he Nan values in  test_df with the mean of EACH feature
for i in range(0,8):
    test_df.iloc[:,i]=test_df.iloc[:,i].fillna(guess_val_test[i])
        
print(train_df)
print(test_df)

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

     TimesPregnant  glucoseLevel   BP  insulin   BMI  Pedigree   Age  \
524              3    125.000000   58        0  31.6     0.151  24.0
357             13    129.000000    0        0  39.9     0.569  44.0
219              5    112.000000   66        0  37.8     0.261  41.0
713              0    120.951923   58      291  26.4     0.352  21.0
605              1    124.000000   60        0  35.8     0.514  21.0
758              1    106.000000   76        0  37.5     0.197  26.0
504              3     96.000000   78        0  37.3     0.238  40.0
512              9     91.000000   68        0  24.2     0.200  58.0
413              1    143.000000   74       61  26.2     0.256  21.0
92               7     81.000000   78       48  46.7     0.261  42.0
535              4    132.000000    0        0  32.9     0.302  23.0
518             13     76.000000   60        0  32.8     0.180  41.0
567              6     92.000000   62      126  32.0     0.085  46.0
756              7    137.000000   90        0  32.0     0.391  39.0
8                2    197.000000   70      543  30.5     0.158  53.0
56               7    187.000000   68      304  37.7     0.254  41.0
313              3    113.000000   50       85  29.5     0.626  25.0
448              0    104.000000   64       64  33.6     0.510  22.0
619              0    119.000000    0        0  32.4     0.141  24.0
53               8    176.000000   90      300  33.7     0.467  58.0
457              5     86.000000   68       71  30.2     0.364  24.0
52               5     88.000000   66       23  24.4     0.342  30.0
358             12     88.000000   74       54  35.3     0.378  48.0
322              0    124.000000   70        0  27.4     0.254  36.0
276              7    106.000000   60        0  26.5     0.296  29.0
339              7    178.000000   84        0  39.9     0.331  41.0
733              2    120.951923   56      165  29.0     0.426  33.5
727              0    141.000000   84        0  32.4     0.433  33.5
581              6    109.000000   60        0  25.0     0.206  27.0
489              8    194.000000   80        0  26.1     0.551  67.0
..             ...           ...  ...      ...   ...       ...   ...
331              2     87.000000   58       52  32.7     0.166  25.0
597              1     89.000000   24       25  27.8     0.559  21.0
96               2     92.000000   62        0  31.6     0.130  24.0
1                1    120.951923   66        0  26.6     0.351  31.0
177              0    129.000000  110      130  67.1     0.319  26.0
15               7    100.000000    0        0  30.0     0.484  32.0
102              0    125.000000   96        0  22.5     0.262  21.0
335              0    165.000000   76      255  47.9     0.259  26.0
157              1    109.000000   56      135  25.2     0.833  23.0
717             10    120.951923   72        0  23.1     0.595  56.0
19               1    115.000000   70       96  34.6     0.529  32.0
39               4    111.000000   72      207  37.1     1.390  56.0
196              1    105.000000   58        0  24.3     0.187  21.0
143             10    108.000000   66        0  32.4     0.272  42.0
318              3    115.000000   66      140  38.1     0.150  28.0
416              1     97.000000   68        0  27.2     1.095  22.0
23               9    119.000000   80        0  29.0     0.263  29.0
749              6    162.000000   62        0  24.3     0.178  50.0
17               7    107.000000   74        0  29.6     0.254  31.0
221              2    158.000000   90        0  31.6     0.805  66.0
630              7    114.000000   64        0  27.4     0.732  34.0
85               2    110.000000   74      125  32.4     0.698  27.0
715              7    120.951923   50      392  33.9     0.826  34.0
199              4    148.000000   60      318  30.9     0.150  29.0
667             10    111.000000   70        0  27.5     0.141  40.0
156              2     99.000000   52       94  24.6     0.637  21.0
384              1    125.000000   70      110  24.3     0.221  25.0
645              2    157.000000   74      440  39.4     0.134  30.0
757              0    123.000000   72        0  36.3     0.258  52.0
456              1    135.000000   54        0  26.7     0.687  62.0

     IsDiabetic
524           0
357           1
219           1
713           0
605           0
758           0
504           0
512           0
413           0
92            0
535           1
518           0
567           0
756           0
8             1
56            1
313           0
448           1
619           1
53            1
457           0
52            0
358           0
322           1
276           1
339           1
733           0
727           0
581           0
489           0
..          ...
331           0
597           0
96            0
1             0
177           1
15            1
102           0
335           0
157           0
717           0
19            1
39            1
196           0
143           1
318           0
416           0
23            1
749           1
17            1
221           1
630           1
85            0
715           1
199           1
667           1
156           0
384           0
645           0
757           1
456           0

[652 rows x 8 columns]
     TimesPregnant  glucoseLevel   BP  insulin   BMI  Pedigree        Age  \
343              5    122.000000   86        0  34.7     0.290  33.000000
728              2    121.381818   88        0  22.9     0.326  22.000000
73               4    129.000000   86      270  35.1     0.231  23.000000
254             12     92.000000   62      258  27.6     0.926  44.000000
741              3    102.000000   44       94  30.8     0.400  26.000000
120              0    162.000000   76      100  53.2     0.759  25.000000
746              1    147.000000   94        0  49.3     0.358  27.000000
689              1    144.000000   82      180  46.1     0.335  46.000000
432              1     80.000000   74       60  30.0     0.527  22.000000
314              7    109.000000   80        0  35.9     1.127  43.000000
579              2    197.000000   70        0  34.7     0.575  62.000000
704              4    110.000000   76      100  28.4     0.118  27.000000
533              6     91.000000    0        0  29.8     0.501  31.000000
268              0    102.000000   52        0  25.1     0.078  21.000000
124              0    113.000000   76        0  33.3     0.278  32.513761
147              2    106.000000   64      119  30.5     1.400  34.000000
551              3     84.000000   68      106  31.9     0.591  25.000000
525              3     87.000000   60        0  21.8     0.444  21.000000
325              1    157.000000   72      168  25.6     0.123  24.000000
58               0    146.000000   82        0  40.5     1.781  44.000000
640              0    102.000000   86      105  29.3     0.695  27.000000
545              8    186.000000   90      225  34.5     0.423  37.000000
90               1     80.000000   55        0  19.1     0.258  21.000000
336              0    117.000000    0        0  33.8     0.932  44.000000
63               2    141.000000   58      128  25.4     0.699  24.000000
424              8    151.000000   78      210  42.9     0.516  36.000000
762              9     89.000000   62        0  22.5     0.142  33.000000
653              2    120.000000   54        0  26.8     0.455  32.513761
126              3    120.000000   70      135  42.9     0.452  30.000000
682              0     95.000000   64      105  44.6     0.366  22.000000
..             ...           ...  ...      ...   ...       ...        ...
415              3    173.000000   84      474  35.7     0.258  22.000000
44               7    159.000000   64        0  27.4     0.294  40.000000
737              8    121.381818   72        0  32.0     0.600  42.000000
228              4    197.000000   70      744  36.7     2.329  31.000000
54               7    150.000000   66      342  34.7     0.718  42.000000
328              2    102.000000   86      120  45.5     0.127  23.000000
380              1    107.000000   72       82  30.8     0.821  24.000000
654              1    106.000000   70      135  34.2     0.142  32.513761
408              8    197.000000   74        0  25.9     1.191  39.000000
658             11    127.000000  106        0  39.0     0.190  51.000000
405              2    123.000000   48      165  42.1     0.520  26.000000
388              5    144.000000   82      285  32.0     0.452  58.000000
169              3    111.000000   90       78  28.4     0.495  29.000000
475              0    137.000000   84        0  27.3     0.231  59.000000
103              1     81.000000   72       40  26.6     0.283  24.000000
206              8    196.000000   76      280  37.5     0.605  57.000000
148              5    147.000000   78        0  33.7     0.218  65.000000
402              5    136.000000   84       88  35.0     0.286  35.000000
296              2    146.000000   70      360  28.0     0.337  29.000000
622              6    183.000000   94        0  40.8     1.461  45.000000
414              0    138.000000   60      167  34.6     0.534  21.000000
67               2    109.000000   92        0  42.7     0.845  54.000000
543              4     84.000000   90       56  39.5     0.159  25.000000
18               1    103.000000   30       83  43.3     0.183  33.000000
41               7    133.000000   84        0  40.2     0.696  37.000000
136              0    100.000000   70       50  30.8     0.597  21.000000
639              1    100.000000   74       46  19.5     0.149  28.000000
211              0    147.000000   85        0  42.8     0.375  24.000000
677              0     93.000000   60        0  35.3     0.263  25.000000
205              5    111.000000   72        0  23.9     0.407  27.000000

     IsDiabetic
343           0
728           0
73            0
254           1
741           0
120           1
746           1
689           1
432           0
314           1
579           1
704           0
533           0
268           0
124           1
147           0
551           0
525           0
325           0
58            0
640           0
545           1
90            0
336           0
63            0
424           1
762           0
653           0
126           0
682           0
..          ...
415           1
44            0
737           0
228           0
54            0
328           1
380           0
654           0
408           1
658           0
405           0
388           1
169           0
475           0
103           0
206           1
148           0
402           1
296           1
622           0
414           1
67            0
543           0
18            0
41            0
136           0
639           0
211           0
677           0
205           0

[116 rows x 8 columns]

In [10]:
###RUN THIS CELL BUT DO NOT ALTER IT 

#assert sum(train_df.isnull().sum()) == 0 
#assert sum(test_df.isnull().sum()) == 0

**6. Split __`train_df`__ & __`test_df`__   into  __`X_train`__, __`Y_train`__  and __`X_test`__, __`Y_test`__. __`Y_train`__  and __`Y_test`__ should only have the column we are trying to predict,  __`IsDiabetic`__.**

In [11]:
X_train = train_df.drop('IsDiabetic',axis=1)
Y_train = train_df['IsDiabetic']
X_test  = test_df.drop('IsDiabetic',axis=1)
Y_test = test_df['IsDiabetic']

In [12]:
###RUN THIS CELL BUT DO NOT ALTER IT 
assert [X_train.shape, Y_train.shape, X_test.shape,Y_test.shape] == [(652, 7), (652,), (116, 7),(116,)]

**7.Use this dataset to train perceptron, logistic regression and random forest models using 15% test split. Report training and test accuracies.**

In [13]:
# Logistic Regression

logreg = LogisticRegression()  
logreg.fit(X_train,Y_train)
logreg_train_acc =logreg.score(X_train,Y_train) 
logreg_test_acc = logreg.score(X_test, Y_test) 
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7822085889570553
logreg test accuracy=  0.7413793103448276

In [14]:
# Perceptron

perceptron = Perceptron() 
perceptron.fit(X_train,Y_train)
perceptron_train_acc = perceptron.score(X_train,Y_train)
perceptron_test_acc = perceptron.score(X_test, Y_test)
print ('perceptron training acuracy= ',perceptron_train_acc)
print('perceptron test accuracy= ',perceptron_test_acc)

perceptron training acuracy=  0.651840490797546
perceptron test accuracy=  0.6982758620689655

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

In [15]:
# Adaboost
adaboost = AdaBoostClassifier(n_estimators=100)
adaboost.fit(X_train,Y_train)
adaboost_train_acc = adaboost.score(X_train, Y_train)
adaboost_test_acc = adaboost.score(X_test, Y_test)
print ('adaboost training acuracy= ',adaboost_train_acc)
print('adaboost test accuracy= ',adaboost_test_acc)

adaboost training acuracy=  0.8404907975460123
adaboost test accuracy=  0.75

In [16]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=500)
random_forest.fit(X_train,Y_train)
random_forest_train_acc = random_forest.score(X_train,Y_train)
random_forest_test_acc = random_forest.score(X_test, Y_test)
print('random_forest training acuracy= ',random_forest_train_acc)
print('random_forest test accuracy= ',random_forest_test_acc)

random_forest training acuracy=  1.0
random_forest test accuracy=  0.75

**8. Is mean imputation is the best type of imputation to use? Why or why not? What are some other ways to impute the data?**

Your answer here

In [17]:
#No, because sometimes the mean of this column is not representative of the nan value, 
#and if there are too many outliers, the mean will become very bad to 
#impute nan value. All in all, firstly, we have to understand what the nan value is
#and why they are nan, and then decide to use what kind of method.

## Part 2


__1.Add columns __`BMI_band`__ & __`Pedigree_band`__  to  __`Data`__  by cutting __`BMI`__ & __`Pedigree`__ into 3 intervals. PRINT the first 5 rows of__`data`__.__

In [18]:
# YOUR CODE HERE
#raise NotImplementedError()

data['BMI_band']=pd.cut(data['BMI'],3)
 
data['Pedigree_band']=pd.cut(data['Pedigree'],3)


data.head()

,TimesPregnant,glucoseLevel,BP,insulin,BMI,Pedigree,Age,IsDiabetic,BMI_band,Pedigree_band
0,6,148.0,72,0,33.6,0.627,50.0,1,"(22.367, 44.733]","(0.0757, 0.859]"
1,1,NaN,66,0,26.6,0.351,31.0,0,"(22.367, 44.733]","(0.0757, 0.859]"
2,8,183.0,64,0,23.3,0.672,NaN,1,"(22.367, 44.733]","(0.0757, 0.859]"
3,1,NaN,66,94,28.1,0.167,21.0,0,"(22.367, 44.733]","(0.0757, 0.859]"
4,0,137.0,40,168,43.1,2.288,33.0,1,"(22.367, 44.733]","(1.639, 2.42]"

__1a. Print the category intervals for __`BMI_band`__ & __`Pedigree_band`.

In [19]:
print('BMI_Band_Interval: ' + str(data['BMI_band'].unique()))

print('Pedigree_Band_Interval: ' + str(data['Pedigree_band'].unique()))

BMI_Band_Interval: [(22.367, 44.733], (-0.0671, 22.367], (44.733, 67.1]]
Categories (3, interval[float64]): [(-0.0671, 22.367] < (22.367, 44.733] < (44.733, 67.1]]
Pedigree_Band_Interval: [(0.0757, 0.859], (1.639, 2.42], (0.859, 1.639]]
Categories (3, interval[float64]): [(0.0757, 0.859] < (0.859, 1.639] < (1.639, 2.42]]

__2. Group __`data`__ by __`Pedigree_band`__ & determine ratio of diabetic in each band.__

In [20]:
# YOUR CODE HERE
#raise NotImplementedError()

diabetic_sum = data.groupby('Pedigree_band')['IsDiabetic'].sum()

count=data.groupby('Pedigree_band')['IsDiabetic'].count()

pedigree_DiabeticRatio=diabetic_sum/count*1.0

print(pedigree_DiabeticRatio)

Pedigree_band
(0.0757, 0.859]    0.327007
(0.859, 1.639]     0.540541
(1.639, 2.42]      0.444444
Name: IsDiabetic, dtype: float64

__2a. Group  __`data`__ by __`BMI_band`__ & determine ratio of diabetic in each band.__

In [21]:
# YOUR CODE HERE
#raise NotImplementedError()

    
diabetic_sum2 = data.groupby('BMI_band')['IsDiabetic'].sum()

count2=data.groupby('BMI_band')['IsDiabetic'].count()

BMI_DiabeticRatio=diabetic_sum2/count2*1.0

print(BMI_DiabeticRatio)

BMI_band
(-0.0671, 22.367]    0.039216
(22.367, 44.733]     0.358297
(44.733, 67.1]       0.611111
Name: IsDiabetic, dtype: float64

In [22]:
###RUN THIS CELL BUT DO NOT ALTER IT 
#assert BMI_DiabeticRatio['IsDiabetic'][1] == 0.35829662261380324
#assert pedigree_DiabeticRatio['IsDiabetic'][1] == 0.5405405405405406

__3. Convert these features - 'BP','insulin','BMI' and 'Pedigree'   into categorical values by mapping different bands of values of these features to integers 0,1,2.__  
 
HINT: USE pd.cut with bin=3 to create 3 bins

In [23]:
# YOUR CODE HERE
#raise NotImplementedError()

data['BP']=pd.cut(data['BP'],3,labels=[0,1,2])

data['insulin']=pd.cut(data['insulin'],3,labels=[0,1,2])

data['BMI']=pd.cut(data['BMI'],3,labels=[0,1,2])
 
data['Pedigree']=pd.cut(data['Pedigree'],3,labels=[0,1,2])

data.head()

,TimesPregnant,glucoseLevel,BP,insulin,BMI,Pedigree,Age,IsDiabetic,BMI_band,Pedigree_band
0,6,148.0,1,0,1,0,50.0,1,"(22.367, 44.733]","(0.0757, 0.859]"
1,1,NaN,1,0,1,0,31.0,0,"(22.367, 44.733]","(0.0757, 0.859]"
2,8,183.0,1,0,1,0,NaN,1,"(22.367, 44.733]","(0.0757, 0.859]"
3,1,NaN,1,0,1,0,21.0,0,"(22.367, 44.733]","(0.0757, 0.859]"
4,0,137.0,0,0,1,2,33.0,1,"(22.367, 44.733]","(1.639, 2.42]"

In [24]:
###RUN THIS CELL BUT DO NOT ALTER IT 
#assert sum(data['insulin'])==49
#assert sum(data['BMI'])==753
#assert sum(data['Pedigree'])==92


__4. Now consider the original dataset again, instead of generalizing the NAN values with the mean of the feature we will try assigning values to NANs based on some hypothesis. For example for age we assume that the relation between BMI and BP of people is a reflection of the age group. We can have 9 types of BMI and BP relations and our aim is to find the median age of each of that group:__

Your Age guess matrix will look like this:  

| BMI | 0       | 1      | 2  |
|-----|-------------|------------- |----- |
| BP  |             |              |      |
| 0   | a00         | a01          | a02  |
| 1   | a10         | a11          | a12  |
| 2   | a20         | a21          |  a22 |


__Create a guess_matrix  for NaN values of *'Age'* ( using 'BMI' and 'BP')  and  *'glucoseLevel'*  (using 'BP' and 'Pedigree') for the given dataset and assign values accordingly to the NaNs in 'Age' or *'glucoseLevel'* .__


Refer to how we guessed age in the titanic notebook in the class.

In [25]:
# YOUR CODE HERE
#raise NotImplementedError()

age_guess=np.zeros((3,3),dtype=int)

for i in range(0,3):
    for j in range(0,3):
        guess_df_age=data[(data['BMI']==i) & (data['BP']==j)]['Age'].dropna()
        guess_age=guess_df_age.median()
        age_guess[i,j]=int(guess_age)
        
for i in range(0,3):
    for j in range(0,3):
        data.loc[(data.Age.isnull()) & (data['BMI']==i) &  (data['BP']==j),'Age']=age_guess[i,j]

data.Age=data['Age'].astype(int)
data.head()

,TimesPregnant,glucoseLevel,BP,insulin,BMI,Pedigree,Age,IsDiabetic,BMI_band,Pedigree_band
0,6,148.0,1,0,1,0,50,1,"(22.367, 44.733]","(0.0757, 0.859]"
1,1,NaN,1,0,1,0,31,0,"(22.367, 44.733]","(0.0757, 0.859]"
2,8,183.0,1,0,1,0,29,1,"(22.367, 44.733]","(0.0757, 0.859]"
3,1,NaN,1,0,1,0,21,0,"(22.367, 44.733]","(0.0757, 0.859]"
4,0,137.0,0,0,1,2,33,1,"(22.367, 44.733]","(1.639, 2.42]"

In [26]:
glucose_guess=np.zeros((3,3),dtype=int)

for i in range(0,3):
    for j in range(0,3):
        guess_df_glucose=data[(data['Pedigree']==i) & (data['BP']==j)]['glucoseLevel'].dropna()
        guess_glucose=guess_df_glucose.median()
        glucose_guess[i,j]=int(guess_glucose)
        
for i in range(0,3):
    for j in range(0,3):
        data.loc[(data.glucoseLevel.isnull()) & (data['Pedigree']==i) &  (data['BP']==j), 'glucoseLevel']=glucose_guess[i,j]

data.glucoseLevel=data.glucoseLevel.astype(int)

data.head()

,TimesPregnant,glucoseLevel,BP,insulin,BMI,Pedigree,Age,IsDiabetic,BMI_band,Pedigree_band
0,6,148,1,0,1,0,50,1,"(22.367, 44.733]","(0.0757, 0.859]"
1,1,112,1,0,1,0,31,0,"(22.367, 44.733]","(0.0757, 0.859]"
2,8,183,1,0,1,0,29,1,"(22.367, 44.733]","(0.0757, 0.859]"
3,1,112,1,0,1,0,21,0,"(22.367, 44.733]","(0.0757, 0.859]"
4,0,137,0,0,1,2,33,1,"(22.367, 44.733]","(1.639, 2.42]"

__5. Now, convert 'glucoseLevel' and 'Age' features also to categorical variables of 4 categories each. PRINT the head of __`data`__ __

In [27]:
# YOUR CODE HERE
#raise NotImplementedError()
 
data['glucoseLevel']=pd.cut(data['glucoseLevel'],4,labels=[0,1,2,3])
 
data['Age']=pd.cut(data['Age'],4,labels=[0,1,2,3])

data.head()

,TimesPregnant,glucoseLevel,BP,insulin,BMI,Pedigree,Age,IsDiabetic,BMI_band,Pedigree_band
0,6,2,1,0,1,0,1,1,"(22.367, 44.733]","(0.0757, 0.859]"
1,1,2,1,0,1,0,0,0,"(22.367, 44.733]","(0.0757, 0.859]"
2,8,3,1,0,1,0,0,1,"(22.367, 44.733]","(0.0757, 0.859]"
3,1,2,1,0,1,0,0,0,"(22.367, 44.733]","(0.0757, 0.859]"
4,0,2,0,0,1,2,0,1,"(22.367, 44.733]","(1.639, 2.42]"

__6.Use this dataset (with all features in categorical form) to train perceptron, logistic regression and random forest models using 15% test split. Report training and test accuracies.__

In [37]:
train_df, test_df = train_df, test_df = train_test_split(data,test_size=0.15,random_state=42)
X_train = train_df.iloc[:,0:7]
Y_train = train_df.iloc[:,7]
X_test  = test_df.iloc[:,0:7]
Y_test = test_df.iloc[:,7]

X_train.shape, Y_train.shape, X_test.shape

((652, 7), (652,), (116, 7))

In [38]:
# Logistic Regression
logreg = LogisticRegression()  
logreg.fit(X_train,Y_train)
logreg_train_acc =logreg.score(X_train,Y_train) 
logreg_test_acc = logreg.score(X_test, Y_test) 
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7254601226993865
logreg test accuracy=  0.8103448275862069

In [39]:
# Perceptron

perceptron = Perceptron() 
perceptron.fit(X_train,Y_train)
perceptron_train_acc = perceptron.score(X_train,Y_train)
perceptron_test_acc = perceptron.score(X_test, Y_test)
print ('perceptron training acuracy= ',perceptron_train_acc)
print('perceptron test accuracy= ',perceptron_test_acc)

perceptron training acuracy=  0.691717791411043
perceptron test accuracy=  0.6724137931034483

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

In [40]:
# Random Forest
random_forest = RandomForestClassifier(n_estimators=500)
random_forest.fit(X_train,Y_train)
random_forest_train_acc = random_forest.score(X_train,Y_train)
random_forest_test_acc = random_forest.score(X_test, Y_test)
print('random_forest training acuracy= ',random_forest_train_acc)
print('random_forest test accuracy= ',random_forest_test_acc)

random_forest training acuracy=  0.8650306748466258
random_forest test accuracy=  0.6982758620689655